body {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

input[type=button] {
    outline: none;
    border-radius: 6px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 750px;
    background-image: url(cornered-stairs.svg);
    background-size: cover;
    min-height: 80dvh;
    color: white;
    border-radius: 60px;
    box-shadow: 0 0 8px 2px rgb(206, 206, 206);
    margin-top: 60px;
}

.container label {
    text-align: left;
}

.container input:not([type=checkbox]) {
    width: 400px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 4px 2px rgb(206, 206, 206);
    caret-color: cornflowerblue;
    border-radius: 6px;
}

.container input:not([type=checkbox]):focus {
    outline: 3px solid rgb(129, 171, 248);
}

.container .flex button {
    padding: 10px 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    outline: none;
    background-color: cornflowerblue;
    font-weight: bold;
    box-shadow: 0 0 6px 1px rgb(121, 121, 121);
    cursor: pointer;
    transition: 0.3s;
}

.container .flex button:hover {
    background-color: rgb(129, 171, 248);
}

ul {
    width: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

ul li {
    margin-bottom: 10px;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li label:hover {
    text-decoration: line-through;
}

input:checked + label{
    text-decoration: line-through;
    color: gray
}

ul li button {
    font-size: 12px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-left: 10px;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: none;
}

ul li button:hover {
    background-color: rgb(255, 91, 91);
}

ul li label:hover {
    cursor: pointer;
}

/* 
@media (min-width: 769) {
    .container {
        width: 750px;
    }
} */
/* 
@media (min-width: 990px) {
    .container {
        width: 960px;
    }
} */
/* 
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
} */